{% extends "layout.html" %}

{% block head %}
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen" />
{% endblock %}



{% block content %}
        <section id="intro">
            <div class="titulo">
                <h2>
                    As melhores receitas
                </h2>
                <p>Aprenda a construir os melhores pratos
                    com receitas criadas por profissionais
                    do mundo inteiro. </p>
            </div>
            <div class="titulo-img">
                <img src="/chef.png" alt="Chef">
            </div>
        </section>

        <section id="mais-acessadas">
            <h3>
                Mais acessadas
            </h3>
            <div class="produtos-container">
                <div class="produtos" id="burger.png">
                    <img src="layouts/assets/burger.png" alt="Triplo bacon">
                    <p>Triplo bacon burger</p>
                    <span>por Jorge Relato</span>
                </div>
                <div class="produtos" id="pizza.png">
                    <img src="layouts/assets/pizza.png" alt="Pizza">
                    <p>Pizza 4 estações</p>
                    <span>por Fabiana Melo</span>
                </div>
                <div class="produtos" id="espaguete.png">
                    <img src="layouts/assets/espaguete.png" alt="Espaguete ao alho">
                    <p>Espaguete ao alho</p>
                    <span>por Júlia Kinoto</span>
                </div>
                <div class="produtos" id="lasanha.png">
                    <img src="layouts/assets/lasanha.png" alt="Lasanha">
                    <p>Lasanha mac n’ cheese</p>
                    <span>por Juliano Vieira</span>
                </div>
                <div class="produtos" id="doce.png">
                    <img src="layouts/assets/doce.png" alt="Docinhos pão-do-céu">
                    <p>Docinhos pão-do-céu</p>
                    <span>por Ricardo Golvea</span>
                </div>
                <div class="produtos" id="asinhas.png">
                    <img src="layouts/assets/asinhas.png" alt="Asinhas de frango ao barbecue">
                    <p>Asinhas de frango ao barbecue</p>
                    <span>por Vania Steroski</span>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
   