{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/receitas-descricao.css" media="screen" />
    
{% endblock %}

{% block title %}
    <title>Descrição Receitas - Foodfy</title>
{% endblock %}

{% block content %}

 

<section class="produtos-descricao" >


    <img src="{{items.image}}" alt="Imagem Burger">
    
    <h1>
        {{items.title}}
    </h1>

    <p>
        {{items.author}}
    </p>

    <div class="ingredientes">
        <h2>Ingredientes</h2> 

        <ul class="ingredientes-lista">

            {% for ingredientes in items.ingredients %}

            <li>● {{ingredientes}};</li> 
            {% endfor %}
        </ul>

        <h2>Modo Preparo</h2>
        <p> {{items.preparation}}</p>

        <h2>Informações adicionais</h2>

        <p>{{items.information}}</p>

    </div>
</section>

{% endblock %}
